#slide1:checked ~ .slide1 {
    --show-slide: block;
}
#slide2:checked ~ .slide2 {
    --show-slide: block;
}
#slide3:checked ~ .slide3 {
    --show-slide: block;
}
#slide4:checked ~ .slide4 {
    --show-slide: block;
}

.slides {
    display: var(--show-slide, none);
}

.input {
    position: absolute;
}
